{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h1>Bienvenue sur Sortir.com !</h1>
    <p>Cette application a pour but de lister les événements proposés par l'ENI</p>
    <p>Les élèves et le personnel peuvent s'inscire aux sorties de leur choix</p>
    <img src="{{ asset('/images/paquito.jpg') }}" style="max-height: 50vh" alt="Illustration d'une sortie à l'ENI">
{% endblock %}
