{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Campus{% endblock %}

{% block body %}
    <h1>Sites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ campus.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_campus_index') }}">back to list</a>

    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>

{% endblock %}
