{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Créer sortie {% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('activity/_form.html.twig') }}

    <a href="{{ path('app_activity_list') }}">Retour à la liste</a>
{% endblock %}
