{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modifier sortie{% endblock %}

{% block body %}
    <h1>Modifier l'activité</h1>

    {{ include('activity/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_activity_list') }}">Retour à la liste</a>
    <a href="{{ path('app_activity_cancel',{'id':activity.id}) }}">Supprimer</a>
{% endblock %}
